.Header {
    background-color: #F55A5A;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.Header > h3 {
    font-weight: 500;
    font-size: 14.46px;
    padding-left: 10px;
}

.Header > h3 {
    color: #fff;
}