* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
}
main {
    display: flex;
    min-width: 600px;
    min-height: 600px;
    margin: 20px;
    flex-direction: column;
}

.register-products {
    background-color: blue;
}

.list-products {
    background-color: green;
    min-height: 200px;
}

.pay-products {
    background-color: purple;
}