@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  background-color: #282D35;
  background-image: url("../images/Group.svg");
  background-repeat: no-repeat;
  background-position: right;
  width: 500px;
  height: 550px;
}

.nav {
  display: flex;
  background-color: #21222A;
  align-items: center;
  height: 91px;
  width:100%;

}

.nav-logo {
  height: 42px;
}

.nav-logo-title {
  font-weight: 700;
  color: #61DAFB;
  font-size: 24px;
  margin-right: auto;
}

.nav-text-course {
  font-weight: 600;
  font-size: 16px;
  color: #DEEBF8;
  margin-right: 10px;
}

.title-container {
  display: flex;
  justify-content: flex-start;
  padding: 40px 20px;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.center-container {
  display: flex;
  flex-direction: row;
}

.list-container {
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  padding-left: 15%;
  font-size: 14x
}

.list {
  list-style-type: disc;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.item::marker {
  color: #61DAFB;
  font-size: 1.5rem;
}

.item {
  padding-block: 2%;
}